@if (username()) {
  <section class="chat">
    <div class="messages-list">
      @for (message of messages(); track message) {
        <div class="message" [class.own]="message.user === username()">
          <div class="message-bubble">
            <span class="user">{{ message.user }}</span>
            <span class="content">{{ message.content }}</span>
          </div>
        </div>
      }
    </div>

    <div class="inputs">
      <input [(ngModel)]="content" placeholder="Message..." />
      <button (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </section>
} @else {
  <section class="login">
    <h2>Rentrez votre nom pour commencer la discussion</h2>

    <div class="inputs">
      <input [(ngModel)]="user" placeholder="Votre nom" />

      <button (click)="createUser()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </section>
}
